<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  slot="start">
      {{'person.mgmt' | translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/person/edit']" >
        <ion-icon slot="icon-only" ios="person-add" md="person-add" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  slot="start">
        {{'person.mgmt' | translate}}
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="person-add" md="person-add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  
  <ion-list>

    <ion-item>
      <!-- <ion-input
        [appDropdown]="options"
        (optionSelected)="onOptionSelected($event)"
        label="Input with clear button"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter text to see clear button"
        value="Default value"
        autocomplete="name"
      >
      </ion-input> -->
    </ion-item>

    <ion-item-sliding *ngFor="let user of userList">
      <ion-item>
       
        <div style="width: 80px; height: 80px">
            <ion-icon class="header" 
              [name]="user.gender === 1 ? 'boy' : 'girl'"></ion-icon>
        </div>
        <ion-label>{{user.nickname || user.name}}</ion-label>
        <app-tag label="{{user.value_degree | worth | async}}"></app-tag>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>
</ion-content> 