<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<app-common-header [translucent]="true" [title]="'qrcode.create' | translate"></app-common-header>

<ion-content [fullscreen]="true">
  <app-common-header [collapse]="'condense'" [title]="'qrcode.create' | translate"></app-common-header>

  <ion-item>
    <ion-input [(ngModel)]="text"></ion-input>
    <ion-button style="min-width: fit-content;" (click)="onQrClick()">{{ 'qrcode.translate' | translate }}</ion-button>
    <ion-button style="min-width: fit-content;" (click)="onQrDecodeClick()">{{ 'qrcode.decode' | translate }}</ion-button>
  </ion-item>

  <ion-item *ngIf="action === 'encode' && workText">
   {{'content' | translate}}: <div [innerText]="workText"></div>
  </ion-item>
  <ion-item *ngIf="action === 'encode' && workText">
    <div style="text-align: center;">
      <qrcode [qrdata]="workText" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </ion-item>

  <ion-item [style]="{display: action  === 'decode' ? 'block' : 'none'}">
    {{'decode.content' | translate}}: <div [innerText]="decodeText"></div>
  </ion-item>
  <ion-item [style]="{display: action  === 'decode' ? 'block' : 'none'}">
    <canvas #qrCanvas id="qrCanvas" [width]="canvasWidth" [height]="canvasHeight"></canvas>
  </ion-item>


</ion-content>
