.tag-li{
     margin-left: 1rem;
     position: relative;
     padding-left: 1rem;
     height: 1.5rem;
     /*border-top: 1px solid blue;
     border-bottom: 1px solid blue;*/
     border: 1px solid blue;
     border-left:none;
     display: inline-block;
     border: 1px solid #1daffa;
     border-left: none;
     box-sizing:border-box;
     border-top-right-radius: 0.2rem;
     border-bottom-right-radius: 0.2rem;
     padding-right: .5rem;
     line-height: 1.5rem;
     color:#1daffa;
 }  
 .tag-li:before{ 
     content: " ";
     position: absolute;
     top: -1px;
     left: -1.6rem;
     width: .85rem;
     height: 1.5rem;
     height: .75rem;
     display: inline-block;
     border: 1px solid transparent;
     border-right: .8rem solid #1daffa;
     border-top: .4rem solid transparent;
     border-bottom: .4rem solid transparent;

 }
 .tag-li-icon:before{
     content: " ";
     position: absolute;
     top: -1px;
     left: -1.5rem;
     width: .85rem;
     height: 1.5rem;
     height: .75rem;
     display: inline-block;
     border: 1px solid transparent;
     border-right: .7rem solid #fff;
     border-top: .4rem solid transparent;
     border-bottom: .4rem solid transparent;
 }
 .tag-li:after{
     content: " ";
     width: .2rem;
     height: .2rem;
     border-radius: 50%;
     position: absolute;
     top: .6rem;
     left: 0rem;
     border: 1px solid #1daffa;
 }