



<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  slot="start">
      {{'event.mgmt' | translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/event/edit']" >
        <ion-icon slot="icon-only" ios="add" md="add" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  
  
  <ion-list>
    <app-timeline [entries]="eventList"
    (deleteClick)="deleteEventClick($event)"></app-timeline>
  </ion-list>
</ion-content> 