<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button slot="start" [routerLink]="['/person']" >
      <ion-icon slot="icon-only" ios="chevron-back" md="chevron-back" ></ion-icon>
    </ion-button>
    <ion-title >
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/person/edit']" >
        <ion-icon slot="icon-only" ios="refresh-circle" md="refresh-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input label="{{'user.name' | translate}}" [(ngModel)]="user.name"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input label="{{'user.nickname' | translate}}" [(ngModel)]="user.nickname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select interface="popover" label="{{'user.sex' | translate}}" [(ngModel)]="user.gender" >
        <ion-select-option value="1">{{'boy' | translate}}</ion-select-option>
        <ion-select-option value="0">{{'girl' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col size="9">
      <ion-item>
        <ion-input
        label="Name" labelPlacement="stacked"
        placeholder="Rose Miller" [(ngModel)]="newUserName"
        >
        </ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="3">
      <ion-button
      (click)="createUser()" expand="block" fill="outline">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col><ion-button (click)="writeSecretFile()">写文件</ion-button></ion-col> 
  </ion-row>

  <ion-item *ngFor="let user of userList">
    

    <span>
      {{ user.id }} - {{ user.name }}
    </span>

    <ion-button slot="end" (click)="deleteUser(user)" fill="clear" color="danger">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngFor="let file of files">
    <div (click)="openFile(file.uri)">{{file.name}}</div>
  </ion-item>
  </ion-content>
