<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button slot="start" [routerLink]="['/event']" >
      <ion-icon size="large" slot="icon-only" ios="chevron-back" md="chevron-back" ></ion-icon>
    </ion-button>
    <ion-title >
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/person/edit']" >
        <ion-icon size="large" slot="icon-only" ios="refresh-circle" md="refresh-circle" (click)="clearEvent()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- 生日 -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'event.date' | translate}}</ion-label>
          <ion-datetime-button datetime="datetime" ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [(ngModel)]="event.date" presentation="date-time" id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- 人员 -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-select label="{{'event.person' | translate}}" multiple="true" [(ngModel)]="event.person" [interfaceOptions]="{ header: '选择人员' }">
            <ion-select-option *ngFor="let person of userList" [value]="person.id">
              {{ person.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- 描述 -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-textarea label="{{'event.desc' | translate}}" [(ngModel)]="event.description" ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"> 
        <ion-button
        (click)="save()" expand="block" fill="outline">{{'confirm' | translate}} 
        </ion-button> 
    </ion-col>
    </ion-row>
  </ion-list>


