<!-- timeline-entry.component.html -->
<div class="timeline-node" [class.no-down-line]="isLast" [class.no-up-line]="isFirst">
  <div class="timeline-content">
    <span class="timeline-date">{{ date }}</span>
    <div class="timeline-events">
      <span *ngFor="let person of persons" class="timeline-event">
        <span class="timeline-person">[ {{ person.name }} ]</span>
      </span>
      <div class="timeline-description">{{ description }}</div>
    </div>
  </div>
  <div class="timeline-dot"></div>
  <div class="timeline-down-line"></div>
  <div class="timeline-up-line"></div>
</div>