.timeline-date {
    font-size: 14px;
    color: var(--ion-color-medium-shade);
    margin-bottom: 8px;
  }
  
  .timeline-event {
    margin-bottom: 10px;
  }
  
  .timeline-person {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  .timeline-description {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
  }


ion-item::part(native) {
    background: none;
    border: none;
    --border-style: none;

  }