<!-- timeline.component.html -->
<!-- timeline.component.html --> 
<app-timeline-entry
*ngFor="let entry of entries; let i = index"
[date]="entry.date"
[persons]="entry.persons"
[description]="entry.description"
[isLast]="entry.length === 1 || i === entries.length - 1"
[isFirst]="entry.length === 1 || i === 0"
class="time-item"
>
    <div >

        <!-- <div class="timeline-date">{{ entry.date | date : 'yyyy-mm-dd hh:MM:ss' }}</div>
        <div class="timeline-events">
            <div class="timeline-description">{{ entry.description }}</div>
            <span *ngFor="let person of entry.persons" class="timeline-event"> 
                <app-tag [label]="person.name"></app-tag>
            </span>
        </div> -->


        <ion-item-sliding> 
            <ion-item> 
                <div>

                    <div class="timeline-date">{{ entry.date | date : 'yyyy-mm-dd hh:MM:ss' }}</div>
                    <div class="timeline-events">
                        <div class="timeline-description">{{ entry.description }}</div>
                        <span *ngFor="let person of entry.persons" class="timeline-event"> 
                            <app-tag [label]="person.name"></app-tag>
                        </span>
                    </div>
                </div>
            </ion-item>
        
            <ion-item-options> 
                <ion-item-option color="danger" (click)="deleteEvent(entry)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option> 
            </ion-item-options>
          </ion-item-sliding>
    </div>
</app-timeline-entry>