<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of cardList" [routerLink]="card.routerLink" routerLinkActive="router-link-active" >
    <img alt="Silhouette of mountains" [src]="card.img" />
  
    <ion-card-header>
      <ion-card-title>{{card.titleId | translate}}</ion-card-title>
      <!-- <ion-card-subtitle>{{card.subtitleId | translate}}</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      {{card.contentId | translate}}
    </ion-card-content>
  </ion-card>

</ion-content>
